html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  border-style: solid;
  border-width: 5px;

  width: 1024px;
  height: 768px;

  image-rendering: pixelated;
}

#container {
  display: flex;
  flex-direction: row;
}

#container > * {
  margin-right: 12px;
}

#debug {
  font-family: monospace;
  font-size: 24px;
}